<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <a href="index"> <button>Voltar</button> </a>

        <h1>Cadastrado com sucesso. Veja a lista de livros!</h1>

        <div th:each="livro : ${livros}">
            <div>
                <p><strong>Nome: </strong> <span th:text="${livro.nome}"></span></p>
                <p><strong>Autor: </strong> <span th:text="${livro.autor}"></span></p>
                <p><strong>Descrição: </strong> <span th:text="${livro.descricao}"></span></p>
                <hr>
            </div>
        </div>
        <a href="index"> <button>Voltar</button> </a>
    </body>
</html>