<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pesquisar um livro</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <h3>Pesquise um livro pelo ID</h3>

        <form action="/livro/" method="get">
            <label>Digite o ID: </label>
            <input type="text" name="id"> <br><br>

            <button>Pesquisar</button>
        </form>
        <br>
        <a href="index"> <button>Voltar</button> </a>
    </body>
</html>